<form #form="ngForm" (ngSubmit)="addNote(form.value, form.form.valid)">
  <div class="input-group">
    <input type="text"
           required
           [(ngModel)]="addNoteModel.text"
           #text
           name="text"
           id="text"
           class="form-control"
           placeholder="Bezeichnung">
    <div class="input-group-append">
      <button class="btn btn-success" type="submit"><i class="fa fa-plus" aria-hidden="true"></i></button>
    </div>
  </div>
  <div class="form-group">
    <label for="tags">Tags:</label>
    <input id="tags" type="text" class="form-control">
  </div>
</form>