<div *ngIf="note != null" class="card">
    <div class="card-header" *ngIf="!showUpdateForm">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapse{{note.PK}}">
            {{note.text}}
        </a>
        <button (click)="delite(note.PK, $event)" class="btn btn-danger float-right" >
            <i class="fas fa-trash"></i>
        </button>
        <button class="btn btn-warning float-right" (click)="showUpdateForm = !showUpdateForm">
            <i class="fas fa-pencil-alt"></i>
        </button>
    </div>
    <div class="card-header" *ngIf="showUpdateForm">
        <form #form="ngForm" (ngSubmit)="update(form.value, form.form.valid)">

            <div class="input-group mb-3">
                <input name="text" type="text" class="form-control" placeholder="Notizen Text" [(ngModel)]="note.text">
                <div class="input-group-append">
                    <button class="btn btn-outline-light" type="submit"><i id="save" class="fas fa-save"></i></button>
                </div>
            </div>
        </form>
    </div>
    <div id="collapse{{note.PK}}" class="collapse" data-parent="#accordion">
        <div class="card-body">
            Tags: <span *ngFor="let tag of note.tags">{{tag.tag}}, </span>
        </div>
    </div>
    <div *ngIf="showUpdateForm" class="collapse show" data-parent="#accordion">

    </div>
</div>